#!/bin/sh
#
# ~/.xprofile
#
#

xrandr -r 75

# Kill already running process
_ps=(dunst ksuperkey)
for _prs in "${_ps[@]}"; do
	if [[ `pidof ${_prs}` ]]; then
		killall -9 ${_prs}
	fi
done

dunst &


# Fix cursor
xsetroot -cursor_name left_ptr

# Enable Super Keys For Menu
ksuperkey -e 'Super_L=Alt_L|F1' &
ksuperkey -e 'Super_R=Alt_L|F1' &

picom --daemon &
feh --bg-fill ~/.wallpapers/

clipcatd

export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT4_IM_MODULE=ibus
export CLUTTER_IM_MODULE=ibus
ibus-daemon -drx
