#!/bin/sh
#
# ~/.xprofile
#
#

export QT_QPA_PLATFORMTHEME=qt5ct
export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT4_IM_MODULE=ibus
export CLUTTER_IM_MODULE=ibus

xrandr -r 75
amddp=$(xrandr --query | grep '^DP-1')
if [[ $amddp = *\ connected* ]]; then
  xrandr --output DP-1 --mode 1920x1080 --rate 60 --right-of HDMI-1
fi

# Kill already running process
_ps=(dunst ksuperkey)
for _prs in "${_ps[@]}"; do
	if [[ `pidof ${_prs}` ]]; then
		killall -9 ${_prs}
	fi
done

dunst &

picom --daemon &

feh --bg-fill ~/.wallpapers/

xautolock -time 5 -locker "slock" &

redshift -c ~/.config/redshift/redshift.conf &

clipcatd

ibus-daemon -drx

ibus restart
