/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #1e222aFF;
    background-alt: #282B31FF;
    foreground:     #FFFFFFFF;
    selected:       #364152FF;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
